<!-- Footer -->
<footer class="container">
    <!--
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
                $if(twitter_username)$
                <li>
                    <a href="https://twitter.com/$twitter_username$" data-datatype="json" data-type="GET" data-target="#frame" class="reload" id="clickme" target="_blank">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
                </li>
                $endif$ $if(google_username)$
                <li>
                    <a href="https://plus.google.com/u/0/111391719267336703432/posts" data-datatype="json" data-type="GET" data-target="#frame" class="reload" id="clickme" target="_blank">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
                </li>
                $endif$ $if(github_username)$
                <li>
                    <a href="https://github.com/$github_username$" target="_blank">
                        <span class="fa-stack fa-lg">

                              <i class="fa fa-arrow-circle-o-down"></i>
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                    </a>
                </li>
                $endif$
            </ul>
        -->

    <hr />
    <p class="copyright text-muted">
        &copy; 2018 Wang lab. Contact <a target="_top" href="mailto:kaz007@ucsd.edu">webmaster</a>.
    </p>
</footer>
