<!-- Footer -->
<footer class="container">
    <hr />
    <p class="copyright text-muted float-left">
        &copy; 2018 Wang lab. Contact <a target="_top" href="mailto:kaz007@ucsd.edu">webmaster</a>.
    </p>
    <div class="float-right">
        $if(github_username)$
            <a href="https://github.com/$github_username$" target="_blank">
                <img height=30px src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.0.0/svg/mark-github.svg">
            </a>
        $endif$
    </div>
</footer>
