<header>
    <div class="container">
        <h1>Wang lab</h1>
        <h2>Principles behind gene regulation and protein-protein interactions</h2>
    </div>
    <div class="band"></div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="$baseurl$/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="$baseurl$/publications.html">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="$baseurl$/people.html">People</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link text-uppercase dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Software
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="https://taiji-pipeline.github.io/">Taiji</a>
                    <a class="dropdown-item" href="http://kzhang.org/DBPnet/">DBPnet</a>
                    <a class="dropdown-item" href="http://wanglab.ucsd.edu/star/EpiTensor/">EpiTensor</a>
                    <a class="dropdown-item" href="http://wanglab.ucsd.edu/star/epigram/">epigram</a>
                    <a class="dropdown-item" href="http://wanglab.ucsd.edu/star/">STAR</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">More</a>
                </div>
            </li>

            <!--
            <li class="nav-item">
                <a class="nav-link" href="$baseurl$/about.html">Courses</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="$baseurl$/positions.html">Positions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="$baseurl$/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>
